.navbar {
  border-bottom: 1px solid black;
}

.navbar-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.home-logo {
  width: 32px;
  height: 32px;
}

.navbar-links-wrapper {
  display: flex;
  gap: 8px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 4px 8px;
}

.navbar a:hover {
  color: #1e90ff;
}